<a href="https://colab.research.google.com/github/JasminiSantos/Trabalho-6-TFIDF-e-Cosseno/blob/main/Tarefa_6_TFIDF_e_Cosseno.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Jasmini Rebecca Gomes dos Santos**

# Extração de sentenças das urls de websites com temas relacionados à linguagem de processamento natural

In [ ]:
# Jasmini Rebecca Gomes dos Santos
# Obs: Execute todas as células para conseguir rodar o código corretamente
'''
1. Sua tarefa será gerar a matriz termo-documento usando TF-IDF por meio da aplicação das
fórmulas TF-IDF na matriz termo-documento criada com a utilização do algoritmo Bag of
Words. Sobre o Corpus que recuperamos anteriormente. O entregável desta tarefa é uma
matriz termo-documento onde a primeira linha são os termos e as linhas subsequentes são
os vetores calculados com o TF-IDF.
2. Sua tarefa será gerar uma matriz de distância, computando o cosseno do ângulo entre todos
os vetores que encontramos usando o tf-idf. Para isso use a seguinte fórmula para o cálculo
do cosseno use a fórmula apresentada em Word2Vector (frankalcantara.com)
(https://frankalcantara.com/Aulas/Nlp/out/Aula4.html#/0/4/2) e apresentada na figura a
seguir:
O resultado deste trabalho será uma matriz que relaciona cada um dos vetores já calculados
com todos os outros vetores disponíveis na matriz termo-documento mostrando a distância
entre cada um destes vetores. 
'''

from __future__ import unicode_literals, print_function
from spacy.lang.en import English 
from bs4 import BeautifulSoup
from urllib.request import Request, urlopen
import re
import traceback
import sys
import unicodedata
import spacy
import math
from spacy.pipeline import EntityRuler
from spacy import displacy
from spacy.matcher import Matcher
import warnings
warnings.simplefilter(action='ignore', category=RuntimeWarning)
nlp = spacy.load("en_core_web_sm")

# Separa texto em sentenças
def split_in_sentences(text):
    doc = nlp(text)
    return [str(sent).strip() for sent in doc.sents]

# Remove carácteres inválidos do texto
def remove_invalid_characters(text):
  text = text.strip().split("\n")
  text_array = []
  for i in range(0, len(text) - 1):
    if text[i] != "" and re.search('[a-z0-9]', text[i]):
      text[i] = unicodedata.normalize("NFKD", text[i])
      text[i] = text[i].strip()
      text_array.append(text[i])
  text = "\n".join(text_array)
  return text

# Extrai texto a partir de uma url
def extract_text_from_url(url):
    try:
      req = Request(url, headers={'User-Agent': 'XYZ/3.0'})
      html = urlopen(req, timeout=10).read()
      soup = BeautifulSoup(html, 'lxml') 
      invalid_tags = ['[document]','noscript','meta','head', 'input','script', 'style', 'svg']
      for tag in soup.find_all(invalid_tags):
          tag.extract()
      text = soup.getText()
      text = remove_invalid_characters(text)
      text_array = split_in_sentences(text)
      text = "\n".join(text_array)
      text = remove_invalid_characters(text)
      return text
    except:
        print(traceback.format_exc())
        sys.exit(-1)

# Encontra o número de palavras de um texto
def find_number_words(text):
  words_array = re.findall(r"[\w']+", text)
  return len(words_array)

# Imprime descrição dos textos extraídos da url  
def description_of_text_from_url(url):
  text = extract_text_from_url(url)
  sentence_array = text.split("\n")
  print("***************************************")
  print("Url: " + url)
  print("Number of words: " + str(find_number_words(text)))
  print("Number of sentences: " + str(len(sentence_array)))
  print("List of sentences: ")
  print(sentence_array)
  print("***************************************")
  
url1 = "https://www.ibm.com/cloud/learn/natural-language-processing"
url2 = "https://www.dominodatalab.com/blog/natural-language-in-python-using-spacy"
url3 = "https://www.analyticsvidhya.com/blog/2020/12/understanding-text-classification-in-nlp-with-movie-review-example-example/"
url4 = "https://blogs.commons.georgetown.edu/cctp-607-spring2019/2019/02/27/natural-language-processing-google-translate/"
url5 = "https://towardsai.net/p/nlp/natural-language-processing-nlp-with-python-tutorial-for-beginners-1f54e610a1a0"
urls = [url1, url2, url3, url4, url5]

# Gera a descrição do texto extraído de cada url
for url in urls:
  description_of_text_from_url(url)

# Extraindo vocabulário dos textos

In [ ]:
contractions = {
"ain't" :"am not",
"aren't": "are not",
"can't": "cannot have",
"cause": "because",
"could've": "could have",
"couldn't": "could not",
"didn't": "did not",
"doesn't": "does not",
"doesn’t": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",    
"haven't": "have not",
"he'd": "he would",
"he'd've": "he would have",
"he'll": "he will",
"he'll've": "he will have",
"he's": "he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how does",
"i'd": "i would",
"i'd've": "i would have",
"i'll": "i will",
"i'll've": "i will have",
"i'm": "i am",
"i've": "i have",
"isn't": "is not",
"it'd": "it would",
"it'd've": "it would have",
"it'll": "it will",
"it'll've": "it will have",
"it's": "it is",
"it’s": "it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"must've": "must have",
"mustn't": "must not",
"musn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not have",
"she'd": "she would",
"she'd've": "she would have",
"she'll": "she will",
"she'll've": "she will have",
"she's": "she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so is",
"that'd": "that would",
"that'd've": "that would have",
"that's": "that is",
"there'd": "there would",
"they'd":  "they would",
"they'd've": "they would have",
"they'll": "they will",    
"they'll've": "they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
" u ": "you",
" ur ": "your",
" n ": " and "
}

# Substitui contrações nas palavras
def replace_contractions(x):
    for word in x.split():
        if word in contractions:
          x = x.replace(word, contractions[word])
    return x
    
# Extrai vocabulário dos textos
def get_vocabulary_from_texts(urls):
  vocab = []
  for url in urls:
    text = extract_text_from_url(url)
    text = replace_contractions(text)
    words = re.findall(r'\w+',text)
    for word in words:
      if word not in vocab:
        vocab.append(word)
  return vocab

print(get_vocabulary_from_texts(urls))

# Bag of Words

In [ ]:
# Pega todos os textos a partir das urls
def get_all_texts(urls):
  documents = []
  for url in urls:
    text = extract_text_from_url(url)
    text = replace_contractions(text)
    words = re.findall(r'\w+',text)
    documents.append(words)
  return documents

# Imprime cada vetor da matriz. Primeira posição da matri\ é o vetor de vocabulário dos textos
def print_matrix(matrix):
  for i in range(len(matrix)):
    print(str(i) + ". " + str(matrix[i]))

# Gera o bag of words a partir do vocabulário e das listas de palavras de cada documento/texto
def generate_bag_of_words(urls):
  matrix = []
  documents = get_all_texts(urls)
  vocab = get_vocabulary_from_texts(urls)
  matrix.append(vocab)
  for document in documents:
    matrix.append(document)
  return matrix

print_matrix(generate_bag_of_words(urls))

In [ ]:
# Encontra a frequência dos termos nos textos
def get_frequency_from_bag(matrix):
  frequency_matrix = []
  frequency_matrix.append(matrix[0])
  for i in range(1, len(matrix)):
    frequency_vector = []
    for word in matrix[0]:
      frequency_vector.append(matrix[i].count(word))
    frequency_matrix.append(frequency_vector)
  return frequency_matrix
print_matrix(get_frequency_from_bag(generate_bag_of_words(urls)))

# Dataframe da matriz de frequência gerada a partir da bag of words

In [85]:
import pandas as pd
import numpy as np
def generate_dictionaries_from_bag_of_words(urls):
  bag = generate_bag_of_words(urls)
  dictionaries = []
  for i in range(1, len(bag)):
    dictionary = dict.fromkeys(bag[i], 0)
    for word in bag[0]:
      dictionary[word] = bag[i].count(word)
    dictionaries.append(dictionary)
  return dictionaries
def generate_dataframe(urls):
  dictionaries = generate_dictionaries_from_bag_of_words(urls)
  df = pd.DataFrame(dictionaries)
  df = df.replace(np.nan, 0)
  df = df.apply(np.int64)
  display(df)
generate_dataframe(urls)

,Skip,to,content,IBM,Cloud,Learn,Hub,What,is,Natural,...,bounce,rate,Advertisement,customized,Others,uncategorized,Hit,enter,ESC,close
0,1,54,1,17,6,2,1,14,34,15,...,0,0,0,0,0,0,0,0,0,0
1,1,65,2,0,2,0,0,1,26,2,...,0,0,0,0,0,0,0,0,0,0
2,0,54,0,0,0,0,0,2,49,1,...,0,0,0,0,0,0,0,0,0,0
3,1,24,2,0,1,0,0,0,13,3,...,0,0,0,0,0,0,0,0,0,0
4,0,128,4,0,10,2,0,3,104,28,...,1,1,3,1,2,1,1,1,1,1

# TF

In [86]:
def get_tf(dictionary, document):
  tf_dictionary = {}
  for word, count in dictionary.items():
      tf_dictionary[word] = count/float(len(document))
  return tf_dictionary

def get_all_tf(urls):
  dictionaries = generate_dictionaries_from_bag_of_words(urls)
  documents = get_all_texts(urls)
  tf_dictionaries = []
  for i in range(len(documents)):
    tf_dictionary = get_tf(dictionaries[i], documents[i])
    tf_dictionaries.append(tf_dictionary)
  return tf_dictionaries

tfs = get_all_tf(urls)

# IDF

In [87]:
def get_idf(urls):
  dictionaries = generate_dictionaries_from_bag_of_words(urls)
  idf_dictionary = dict.fromkeys(dictionaries[0].keys(), 0)
  for dictionary in dictionaries:
      for word, count in dictionary.items():
          if count > 0:
              idf_dictionary[word] += 1
  
  for word, count in idf_dictionary.items():
      idf_dictionary[word] = math.log10(len(dictionaries) / float(count))
  return idf_dictionary 

idfs = get_idf(urls)

# TFIDF

In [88]:
def get_tfidf(dictionary, idfs):
  tfidf = {}
  for word, count in dictionary.items():
      tfidf[word] = count*idfs[word]
  return tfidf

def get_all_tfidf(urls):
  dictionaries = generate_dictionaries_from_bag_of_words(urls)
  idfs = get_idf(urls)
  tfidf_dictionaries = []
  for i in range(len(dictionaries)):
    tfidf_dictionary = get_tfidf(dictionaries[i], idfs)
    tfidf_dictionaries.append(tfidf_dictionary)
  return tfidf_dictionaries
tfidfs = get_all_tfidf(urls)

# Dataframe do TFIDF

In [89]:
df = pd.DataFrame(tfidfs)
display(df)

,Skip,to,content,IBM,Cloud,Learn,Hub,What,is,Natural,...,bounce,rate,Advertisement,customized,Others,uncategorized,Hit,enter,ESC,close
0,0.221849,0.0,0.09691,11.88249,0.58146,0.79588,0.69897,1.35674,0.0,0.0,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
1,0.221849,0.0,0.19382,0.00000,0.19382,0.00000,0.00000,0.09691,0.0,0.0,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2,0.000000,0.0,0.00000,0.00000,0.00000,0.00000,0.00000,0.19382,0.0,0.0,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
3,0.221849,0.0,0.19382,0.00000,0.09691,0.00000,0.00000,0.00000,0.0,0.0,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
4,0.000000,0.0,0.38764,0.00000,0.96910,0.79588,0.00000,0.29073,0.0,0.0,...,0.69897,0.69897,2.09691,0.69897,1.39794,0.69897,0.69897,0.69897,0.69897,0.69897

# Cosine Similarity

In [95]:
# Cálculo de similaridade utilizando sem utilizar biblioteca cosine_similarity
from numpy.linalg import norm
np.seterr(divide='ignore', invalid='ignore')

arrayA = []
arrayB = []
arrayC = []
arrayD = []
arrayE = []

for i in df.loc[0]:
  arrayA.append(i)
for i in df.loc[1]:
  arrayB.append(i)
for i in df.loc[2]:
  arrayC.append(i)
for i in df.loc[3]:
  arrayD.append(i)
for i in df.loc[4]:
  arrayE.append(i)
arrays = np.array([arrayA, arrayB, arrayC, arrayD, arrayE])

similarity = []
for array in arrays:
  cosines = []
  for array2 in arrays:
    cosine = np.dot(array, array2)/(norm(array)*norm(array2))
    cosines.append(cosine)
  similarity.append(cosines)
similarity_df = pd.DataFrame(similarity)
display(similarity_df)

          0         1         2         3         4
0  1.000000  0.033378  0.049376  0.014762  0.030202
1  0.033378  1.000000  0.067270  0.020725  0.040841
2  0.049376  0.067270  1.000000  0.022793  0.075691
3  0.014762  0.020725  0.022793  1.000000  0.018671
4  0.030202  0.040841  0.075691  0.018671  1.000000

In [94]:
# Cálculo de similaridade utilizando biblioteca cosine_similarity
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(df)
similarity_df = pd.DataFrame(similarity)
display(similarity_df)

          0         1         2         3         4
0  1.000000  0.033378  0.049376  0.014762  0.030202
1  0.033378  1.000000  0.067270  0.020725  0.040841
2  0.049376  0.067270  1.000000  0.022793  0.075691
3  0.014762  0.020725  0.022793  1.000000  0.018671
4  0.030202  0.040841  0.075691  0.018671  1.000000